{% if post %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.created_at }}</p>
    <p>{{ post.content }}</p>
    <a href="{% url 'update_blog' post_id=post.id %}">Edit Post</a>
    <a href="">Delete Post</a>
    <a href="{% url "blog_list" %}">Back to list</a>
    {% else %}
        <p>No post found.</p>
{% endif %}

{% comment %} <form action="#" method="post">
    <label for="title">Title</label>
    <input type="text" name="title" placeholder="Title">
    <label for="content">Comment</label>
    <input type="text" name="content" placeholder="Content">
    <select>
        <option value="draft">Draft</option>
        <option value="published">Published</option>
    </select>
    <input type="submit" value="Submit">
</form> {% endcomment %}